# **퍼셉트론**

In [8]:
# AND게이트 구현하기
# 입력 x1과 x2가 모두 참일 때 1을 출력한다.
def AND(x1, x2):
  w1, w2, theta = 1, 1, 1.9
  value = w1*x1 + w2*x2
  if value <= theta:
    return 0
  elif value >theta:
    return 1

In [9]:
print(AND(1,1))
print(AND(0,0))
print(AND(0,1))
print(AND(1,0))
#1,0,0,0

1
0
0
0

In [10]:
def NAND(x1, x2):
  w1, w2, theta = 1, 1, 1.9
  value = w1*x1 + w2*x2
  if value <= theta:
    return 1
  elif value >theta:
    return 0

In [11]:
print(NAND(1,1))
print(NAND(0,0))
print(NAND(0,1))
print(NAND(1,0))
#0,1,1,1

0
1
1
1

In [15]:
def OR(x1, x2):
  w1, w2, theta = 1, 1, 1
  value = w1*x1 + w2*x2
  if value >= theta:
    return 1
  elif value < theta:
    return 0

In [16]:
print(OR(1,1))
print(OR(0,0))
print(OR(0,1))
print(OR(1,0))
#1,0,1,1

1
0
1
1